[submodule "rpimongo"]
	path = rpimongo
	url = git@github.com:ivyleavedtoadflax/rpimongo.git
[submodule "mongo-logger/-f"]
	path = mongo-logger/pymongopahologger
	url = git@github.com:ivyleavedtoadflax/pymongopahologger.git
[submodule "mongo-logger/pymongopahologger"]
	path = mongo-logger/pymongopahologger
	url = git@github.com:ivyleavedtoadflax/pymongopahologger.git
